@use "../../../colors.scss" as *;
@use "../../../mixins.scss" as *;

.allowed-increase-step {
  .allowed-increase-notice {
    p {
      margin: 0;
    }
  }

  .content-box {
    margin-bottom: 1rem;
  }

  .pill__circle {
    min-width: 1.5em;
    min-height: 1.5em;
  }

  .letter-form__buttons {
    margin-bottom: -1rem;
  }

  .jfcl-link {
    @include body_large_desktop;
    @include for-phone-only {
      @include body_standard_mobile;
    }
  }

  /* ********************** 
   Below CSS has specific overrides of global accordion styles 
   ********************** */

  .organizations-section {
    display: flex;
    flex-direction: column;
    h5 {
      margin-bottom: 0 !important;
    }
  }

  #gce-protections_eviction {
    h5 {
      font-weight: unset;
    }
  }
}
