@use "../../../colors.scss" as *;
@use "../../../mixins.scss" as *;

.allowed-increase-step {
  .allowed-increase-notice {
    p {
      margin: 0;
    }
  }

  .content-box {
    margin-bottom: 1rem;
  }

  .pill__circle {
    min-width: 1.5em;
    min-height: 1.5em;
  }

  .letter-form__buttons {
    margin-bottom: -1rem;
  }

  .jfcl-link {
    @include body_large_desktop;
    @include for-phone-only {
      @include body_standard_mobile;
    }
  }

  ul.no-bullets {
    padding: 0;
    margin-bottom: 0;
    margin-left: -0.5rem;
    li {
      list-style-type: none;
      &:not(:last-of-type) {
        margin-bottom: 0.75rem;
      }
    }
  }
}
