@use "../../../colors.scss" as *;
@use "../../../mixins.scss" as *;

// interstitial loading page
.loading-notice {
  p {
    margin: 0;
  }
}

.confirmation-step {
  .success-notice,
  .loading-notice,
  .error-notice {
    .notice__icon-container {
      @include for-phone-only() {
        display: none;
      }
      svg {
        width: 3.375rem;
        height: 2.625rem;
      }
    }
  }

  .loading-notice {
    p {
      margin: 0;
    }
  }

  .success-letter-buttons,
  .error-letter-buttons {
    display: flex;
    gap: 1.5rem;
    @include for-phone-only() {
      flex-direction: column;
      gap: 1rem;
    }
    a.jfcl-button {
      text-decoration: none;
      @include for-phone-only() {
        width: auto;
      }
    }
    .jfcl-button__label {
      align-items: center;
    }
  }

  .success-notice {
    .notice__body {
      a:not(.jfcl-button) {
        @include body_large_desktop;
        @include for-phone-only() {
          @include body_standard_mobile;
        }
      }
      p {
        overflow-wrap: anywhere;
      }
      .usps-delay {
        padding: 0.75rem;
        gap: 0.5rem;
        .notice__body {
          @include body_standard_desktop;
        }
        svg {
          width: 1rem;
          height: 1rem;
          margin: 0.19rem 0;
        }
      }
      .success-letter-buttons {
        display: flex;
        gap: 1.5rem;
        a.jfcl-button {
          text-decoration: none;
        }
      }
    }
  }

  .emails-sent-notice {
    padding: 1.5rem 2rem;
    .notice__icon-container {
      @include for-phone-only() {
        display: none;
      }
      svg {
        width: 1.95419rem;
        height: 1.95394rem;
      }
    }
    .notice__content-container {
      .notice__header {
        @include body_large_desktop;
        font-weight: 600;
        margin: 0 0 1rem;
      }
      ul {
        margin: 0;
        padding-inline-start: 24px;
      }
    }
  }

  .content-box {
    margin-bottom: 1rem;
  }
}
