@use "../../../colors.scss" as *;
@use "../../../mixins.scss" as *;

.landlord-details-step {
  .hpd-invalid-modal .modal__content {
    @include body_large_desktop;
  }
  .landlord-address {
    @include body_large_desktop;
    margin-bottom: 1rem;
    span {
      display: block;
    }
    &__name {
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
  }
  &__edit-address {
    width: 75%;
    &,
    .text-link-button {
      @include body_standard_desktop;
    }
  }
  .landlord-city-input {
    margin-top: 1.5rem;
  }
  #landlord-state {
    margin-bottom: 2rem;
    .jfcl-input-header__label {
      @include body_standard_desktop;
      margin-bottom: 0.25rem;
      display: block;
    }
    .jfcl-dropdown__control {
      padding: 5px;
      border: 1px solid $OFF_BLACK;
    }
  }

  .modal__content {
    .info-box {
      margin-bottom: 1rem;
    }
    .landlord-address {
      &,
      &__name {
        margin-bottom: 0;
      }
    }
  }
}
