@use "../../../mixins" as *;

.non-renewal-step {
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    @include for-phone-only {
      flex-direction: column;
    }
  }
}
