@use "../../../mixins" as *;
@use "../../../variables" as *;
@use "../../../colors" as *;

.preview-step {
  .preview-step__review {
    @include body_large_desktop;
    margin: 0 0 1.5rem 0;
    @include for-phone-only {
      @include body_standard_mobile;
    }
  }

  .preview-step__locale-toggle {
    gap: 0.25rem;
    margin-bottom: 1.5rem;
    @include body_standard_desktop;
    font-weight: 600;

    button.jfcl-link {
      @include body_standard_desktop;
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      cursor: pointer;
      color: $GREY_600;
      font-weight: inherit;

      &:hover {
        color: $GREY_700;
        text-decoration: underline;
      }
      &:disabled {
        text-decoration: underline;
        cursor: default;
        color: $OFF_BLACK;
      }
    }

    @include for-phone-only {
      align-items: flex-start;
      gap: 0.5rem;
    }
  }

  .info-box {
    margin-bottom: 1.5rem;
    p {
      margin: 0;
      width: 80%;
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }
  }

  .preview-step__letter-container {
    background: $WHITE;
    border-radius: 2px 2px 0 0;
    padding: 2rem 1.5rem; //32px 24px
    margin-bottom: 24px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    .preview-step__iframe {
      width: 100%;
      border: none;
      background: $WHITE;
      overflow: hidden;
      display: block;
      margin: 0;
      padding: 0;
    }

    @include for-phone-only {
      padding: 1rem;

      .preview-step__iframe {
        min-height: auto;
      }
    }
  }

  .preview-step__note {
    margin: 1.5rem 0 4.25rem;
    @include body_large_desktop;

    strong {
      font-weight: 600;
    }

    @include for-phone-only {
      @include body_standard_mobile;
    }
  }
}
