@use "../../../mixins" as *;

.reason-step {
  .reason-step__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;

    .jfcl-select-button {
      @include for-phone-only() {
        margin-right: unset;
      }
    }

    .jfcl-select-button__label,
    .jfcl-select-button__input:checked + .jfcl-select-button__label {
      padding: 0.75rem 1.875rem;
      text-wrap-mode: wrap;
    }

    .jfcl-select-button__label:hover {
      // adjust padding by 1px when hover triggers a 2px border
      // so the FormGroup container stays the same size
      padding: calc(0.75rem - 1px) calc(1.875rem - 1px);
    }
  }
}
