@use "../../../mixins" as *;
@use "../../../colors" as *;
.reason-step {
  .reason-step__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;

    .jfcl-select-button {
      @include for-phone-only() {
        margin-right: unset;
      }
    }

    .jfcl-select-button__label {
      padding: 0.75rem 1.875rem;
      text-wrap-mode: wrap;
    }
    .jfcl-select-button__input:checked + .jfcl-select-button__label,
    .jfcl-select-button__label:hover {
      // adjust padding when the border width increases to avoid layout shift
      padding: calc(0.75rem - 1px) calc(1.875rem - 1px);
    }

    // On mobile, the hover state from the previous page remains sticky on page load.
    // The buggy behavior isn't reproducible every time, but does happen enough to warrant a fix.
    // https://css-tricks.com/solving-sticky-hover-states-with-media-hover-hover/
    @media (hover: none), (pointer: coarse) {
      .jfcl-select-button__label,
      .jfcl-select-button__label:hover,
      .jfcl-select-button__label:focus,
      .jfcl-select-button__label:active,
      .jfcl-select-button__input:focus + .jfcl-select-button__label,
      .jfcl-select-button__input:hover + .jfcl-select-button__label {
        border: 1px solid $OFF_BLACK !important;
        background-color: $OFF_WHITE_100 !important;
      }  

      .jfcl-select-button__input:checked + .jfcl-select-button__label,
      .jfcl-select-button__input:checked + .jfcl-select-button__label:hover,
      .jfcl-select-button__input:checked + .jfcl-select-button__label:active {
        border: 2px solid $OFF_BLACK !important;
        background-color: $BLUE_100 !important;
      }

      .jfcl-select-button__input:checked + .jfcl-select-button__label,
      .jfcl-select-button__label:hover {
        // adjust padding when the border width increases to avoid layout shift
        padding: calc(0.75rem - 1px) calc(1.875rem - 1px) !important;
      }

    }
  }
}
