#reason-step {
  .reason-step__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    .jfcl-select-button__label {
      padding: 0.6875rem 30px;
    }
  }

  .modal {
    .modal__header {
      margin-bottom: 1rem;
    }
    .callout-box {
      ul {
        margin-bottom: 0;
      }
    }
  }
}
