@use "../../../mixins" as *;

#reason-step {
  .reason-step__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;

    .jfcl-select-button {
      @include for-phone-only() {
        margin-right: unset;
      }
    }

    .jfcl-select-button__label {
      padding: 0.6875rem 30px;
      text-wrap-mode: wrap;
    }
  }
}
