@import "../../../mixins.scss";
@import "../../../colors.scss";

$resulsTablePadding: 36px;
$resultsTableW: 1000px;

.eligibility__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.covered-pill {
  display: inline-flex;
  padding: 0px 18px 4px;
  color: $WHITE;
  border-radius: 44px;
  background-color: $GREEN;
  white-space: nowrap;
  height: calc(1em + 4px);

  &.covered-pill--ineligible {
    background-color: $RED;
  }

  &.covered-pill--unknown {
    background-color: $YELLOW;
    color: $OFF_BLACK;
  }
}

.eligibility__result {
  display: flex;
  flex-direction: column;
  margin: 2.625rem 0; //42px
  gap: 4px;
  max-width: $resultsTableW + 2 * $resulsTablePadding;
}


.eligibility__table {
  border-radius: 16px;
  border: 1px solid $GREY_NEW;
  padding: $resulsTablePadding;
  max-width: $resultsTableW;
}

.eligibility__table__header {
  display: flex;
  padding-bottom: $resulsTablePadding;
  flex-direction: column;
  gap: 10px;

  .eligibility__table__header-title {
    @include eyebrow_small_desktop;
  }

  .eligibility__table__header-subtitle {
    @include h3_desktop;
  }
}

.eligibility__table__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $resulsTablePadding 0 0;
  @include body_large_desktop;

  .eligibility__table__footer__link {
    @include body_standard_desktop;
    margin-top: 0.625rem; //10px
  }

  a {
    color: black;
    margin-left: 0.625rem; //10px
  }
}

.eligibility__row {
  display: flex;
  border-bottom: 1px solid $GREY_NEW;
  align-items: center;
  padding: 24px 0;

  @media (max-width: 772px){
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  .eligibility__row__icon {
    padding: 0 2rem;
    font-size: 1.875rem; //30px
    width: 1.875rem; //30px

    .eligible {
      color: $GREEN;
    }
    .ineligible {
      color: $RED;
    }
    .unknown {
      color: $YELLOW;
    }
  }

  .eligibility__row__info {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 400px;
    padding-right: 1rem;
    box-sizing: border-box;
    gap: 10px;

    @media (max-width: 772px){
      width: 100%;
    }

  }

  .eligibility__row__criteria {
    @include eyebrow_small_desktop;
  }

  .eligibility__row__requirement {
    @include body_standard_desktop;
  }

  .eligibility__row__userValue {
    @include body_standard_desktop;
    margin: 0 1.25rem; // 20px
    box-sizing: border-box;
    flex-grow: 1;

    @media (max-width: 772px){
      margin: 0;
    }
  }
  .eligibility__row__moreInfo {
    text-decoration: underline;
    white-space: nowrap;
  }
}

.eligibility__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.625rem 0; //42px

  .eligibility__footer__header{
    @include h3_desktop;
    margin: 0 0 $resulsTablePadding 0;
  }
}
