@import "../../../mixins.scss";
@import "../../../colors.scss";
@import "../../../variables.scss";
@import "../content-page.scss";

#results-page {
  .data__loading,
  .data__error {
    margin: 3rem 0;
  }

  .headline-section {
    padding-bottom: 2rem;
    .share-button__container {
      margin-top: 1.5rem;
    }
  }

  .result-headline {
    color: var(--Primary-off-black, #242323);
    font-family: "Degular Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 36px */
    letter-spacing: 1.08px;
    line-height: 1.125em;
    @include for-tablet-portrait-up {
      .result-headline__top {
        line-height: 1.5em;
      }
    }
    .coverage-pill {
      padding: 0 1.125rem;
      border-radius: 2.75rem;
      box-decoration-break: clone;
      white-space: nowrap;
      @include for-tablet-potrait-down {
        white-space: unset;
        line-height: 1.5em;
      }

      &.green {
        background-color: $GREEN;
        color: $WHITE;
      }
      &.yellow {
        background-color: $YELLOW;
        color: $OFF_BLACK;
      }
      &.orange {
        background-color: $ORANGE;
        color: $OFF_BLACK;
      }
    }
  }

  .criteria-table,
  .protections-on-next-page__print {
    margin-top: 3rem; // 48px
    max-width: $contentBoxWidth;
  }

  .criteria-table {
    margin-top: 2.25rem;
    margin-bottom: 0;
    border: 1px solid $OFF_WHITE_200_DARKER;
    @include for-phone-only() {
      margin-top: 1.25rem; //32px
    }
  }

  .criteria-table__header {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.25rem 2rem 1.25rem;
    margin: 1.5rem 1.5rem 0 1.5rem;
    gap: 0.75rem; // 12px

    @include for-phone-only() {
      margin: 1rem; //16px
      padding: 0.5rem;
    }

    .criteria-table__header__title {
      @include body_standard_mobile;
      font-weight: 600;
    }
    p {
      @include body_standard_mobile;
      margin: 0;
      @include for-tablet-portrait-up {
        width: 75%;
      }
    }
  }

  .criteria-table__list {
    margin: 0;
    padding: 0;
    list-style: none;
    @include for-phone-only() {
      margin: 0 1rem;
    }
  }

  .criteria-table__row {
    border-top: 1px solid $GREY_NEW;
    align-items: center;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
    @include for-tablet-portrait-up() {
      display: flex;
    }
    @include for-phone-only() {
      padding: unset;
      margin: unset;
    }

    .criteria-table__row__desktop {
      display: flex;
      @include for-tablet-portrait-range() {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
      .criteria-table__row__userValue {
        margin-top: 1.95rem;
      }
      @include for-phone-only() {
        display: none;
      }
    }
    .criteria-table__row__mobile {
      border-top: unset;
      @include for-tablet-portrait-up() {
        display: none;
      }
      @include for-phone-only() {
        .accordion__summary {
          padding: unset;
          padding: 1rem 0.5rem;
          align-items: flex-start;

          .content-box__section__header {
            @include body_standard_mobile;
            font-weight: 600;
          }
          .content-box__section__header-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            @include body_standard_mobile;
            .content-box__section__header {
              padding-bottom: 0.25rem;
            }
          }
          .accordion__chevron {
            padding-left: 0.25rem;
            padding-top: 0.25rem;
          }
        }
        .accordion__content {
          padding: 0 0 1rem 3rem;
          .callout-box {
            padding: 0.75rem;
            gap: 0.75rem;
            background: $OFF_WHITE_100;
            margin-bottom: 0;
            &,
            .criteria-link {
              @include body_standard_mobile;
            }
          }
        }
      }
    }

    .criteria-icon {
      padding: 0 1.25rem; // 0 20px
      font-size: 1.875rem; //30px
      width: 1.875rem; //30px

      @include for-phone-only() {
        padding: unset;
        margin-right: 1rem;
      }
    }

    .criteria-table__row__info {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 320px;
      padding-right: 1rem;
      box-sizing: border-box;
      gap: 10px;
    }

    .criteria-table__header__title,
    .criteria-table__row__criteria,
    .criteria-table__row__requirement,
    .criteria-table__row__userValue {
      @include body_standard_desktop;
    }

    .criteria-table__header__title,
    .criteria-table__row__criteria {
      font-weight: 600;
    }

    .criteria-table__row__userValue {
      margin: 0 1.25rem; // 20px
      box-sizing: border-box;
      flex-grow: 1;

      p {
        margin: 0 0 0.625rem 0;
      }
      .criteria-link {
        @include small_text_desktop;
      }
    }
  }

  .criteria-table__footer {
    .content-box__footer__message,
    .jfcl-link {
      @include for-phone-only {
        @include body_standard_mobile;
      }
    }
  }

  svg.criteria-icon {
    &.green {
      color: $GREEN;
    }
    &.yellow {
      color: $YELLOW;
    }
    &.orange {
      color: $ORANGE;
    }
  }
  .content-section {
    padding-top: 2rem;
    .content-box {
      margin: unset;
      margin-bottom: 2rem;
    }
  }

  @include for-phone-only() {
    .content-section__content {
      width: 100%;
      .content-box {
        display: flex;
        flex-direction: column;
      }
    }
    .content-box__header-subtitle {
      @include h3_mobile;
    }
    .content-box__section__header {
      @include body_standard_mobile;
      font-weight: 600;
    }
  }

  .success-message {
    @include small_text_desktop;
    svg {
      height: 1.25rem;
      width: 1.25rem;
      color: $GREEN;
      margin-right: 0.25rem;
      vertical-align: bottom;
    }
  }

  .share-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 3rem; //margin top accounts for content items above having 2rem margin bottoms
    position: relative;

    @include for-phone-only() {
      margin: 2rem 0 2rem;
    }

    .share-footer__header {
      @include h3_desktop;
      margin: 0 0 2rem 0;
      text-align: center;
      @include for-phone-only {
        @include h3_mobile;
      }
    }

    .success-message {
      position: absolute;
      bottom: -1.5rem;
      margin-top: 0.5rem;
    }
  }

  .next-step {
    --icon-size: 1.875rem; //30px
    --icon-margin: 1.5rem; // 24px;
    align-self: start;

    .criteria-icon {
      width: var(--icon-size);
      height: var(--icon-size);
      margin-right: var(--icon-margin);
    }
    .accordion__content {
      margin-left: calc(var(--icon-size) + var(--icon-margin));
    }
  }
  .callout-box {
    display: flex;
    flex-direction: row;
    gap: 1.5rem; // 24px
    padding: 2.25rem; // 36px
    background-color: $OFF_WHITE_200;
    border-radius: 4px;
    margin-bottom: 2rem;
    @include for-phone-only() {
      flex-direction: column;
      padding: 1.5rem; // 24px
    }

    .callout-box__column {
      display: flex;
      flex-direction: column;
      flex: 1 1 0;

      .phone-number-input-container {
        align-items: flex-end;
        display: grid;
        grid-template-columns: 2fr 1fr;
        @include for-phone-only {
          grid-template-columns: 1fr;
        }

        @include for-phone-only() {
          width: -webkit-fill-available;
          .phone-number-submit__desktop {
            display: none;
          }
        }

        label {
          @include body_standard_desktop;
          font-weight: 500;
        }
        .jfcl-input-header__invalid_text {
          margin-bottom: 4px;
        }
        .jfcl-text-input {
          margin: unset;
          margin-right: 1rem;
          @include for-phone-only {
            width: 100%;
          }
        }
      }
      .success-message {
        margin-bottom: 0.5rem;
      }

      .phone-number-description {
        @include small_text_desktop;
        margin-top: 0.5rem;
      }

      .phone-number-submit__mobile {
        margin-top: 1.5rem; // 24px

        @include for-tablet-portrait-up {
          display: none;
        }
      }
    }
    .callout-box__header {
      @include body_large_desktop;
      font-weight: 500;
      margin-bottom: 1rem;
      @include for-phone-only {
        @include body_large_mobile;
      }
    }
    p {
      @include body_standard_desktop;
      margin: 0;
      @include for-phone-only {
        @include body_standard_mobile;
      }
    }
  }
}

@media screen {
  @include for-tablet-portrait-range() {
    .criteria-table__row {
      flex-direction: column;
      gap: 16px;
      text-align: center;
    }
    .criteria-table__row__info {
      width: 100%;
    }
    .criteria-table__row__userValue {
      margin: 0;
    }
  }

  .protections-on-next-page__print {
    display: none;
  }
  .divider__print {
    display: none;
  }
}

@media print {
  #results-page {
    .coverage-pill {
      background-color: unset;
      padding: unset;
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      color: $OFF_BLACK;
    }

    .headline-section__address__print {
      padding-bottom: 0.75rem; //12px
    }

    .share-button__container,
    .criteria-table__footer .share-footer {
      display: none;
    }

    .criteria-table__row {
      .criteria-table__row__desktop {
        flex-direction: row;
      }
      &:last-of-type {
        border-bottom: unset;
      }
    }

    .protections-on-next-page__print {
      @include h3_desktop;
      text-align: center;
    }

    .content-box {
      border: unset;
      .accordion__chevron,
      .content-box__footer {
        display: none;
      }
    }
    svg {
      color: $OFF_BLACK !important;
    }

    .divider__print {
      border-bottom: 1px solid black;
    }
  }
}
