@use "../../../mixins" as *;
@use "../../../colors" as *;
@use "../../../variables" as *;
@use "../content-page" as *;

#results-page {
  .data__loading,
  .data__error {
    margin: 3rem 0;
  }

  .headline-section {
    padding-bottom: 2rem;
    .share-button__container {
      margin-top: 1.5rem;
    }
  }

  .result-headline {
    @include for-tablet-portrait-down {
      line-height: 125%;
    }
    .coverage-pill {
      padding: 0 1.125rem 0.375rem;
      border-radius: 2.75rem;
      box-decoration-break: clone;
      white-space: nowrap;
      @include for-tablet-portrait-down {
        white-space: unset;
        line-height: 1.5em;
        padding: 0 1rem 0.125rem;
      }

      &.green {
        background-color: $GREEN;
        color: $WHITE;
      }
      &.yellow {
        background-color: $YELLOW;
        color: $OFF_BLACK;
      }
      &.orange {
        background-color: $ORANGE;
        color: $OFF_BLACK;
      }
    }

    @include for-tablet-portrait-up {
      line-height: 120%;
      .result-headline__top {
        line-height: 1.25em;
      }
      .coverage-pill {
        display: inline-flex;
        line-height: 110%;
      }
    }
  }

  .criteria-table,
  .protections-on-next-page__print {
    margin-top: 3rem; // 48px
    max-width: $contentBoxWidth;
  }

  .criteria-table {
    margin-top: 2.25rem;
    margin-bottom: 0;
    border: 1px solid $OFF_WHITE_200_DARKER;
    @include for-phone-only() {
      margin-top: 1.25rem; //32px
    }
  }

  .criteria-table__header {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.25rem 2rem 1.25rem;
    margin: 1.5rem 1.5rem 0 1.5rem;
    gap: 0.75rem; // 12px
    @include body_standard_desktop;

    @include for-phone-only() {
      @include body_standard_mobile;
      margin: 1rem; //16px
      padding: 0.5rem;
    }

    .criteria-table__header__title {
      font-weight: 600;
    }
    p {
      margin: 0;
      @include for-tablet-portrait-up {
        width: 75%;
      }
    }
  }

  .criteria-table__list {
    margin: 0;
    padding: 0;
    list-style: none;
    @include for-phone-only() {
      margin: 0 1rem;
    }
  }

  .criteria-table__row {
    border-top: 1px solid $GREY_200;
    align-items: center;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
    @include for-tablet-portrait-up() {
      display: flex;
    }
    @include for-phone-only() {
      padding: unset;
      margin: unset;
    }

    .criteria-table__row__desktop {
      display: flex;
      @include for-tablet-portrait-range() {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
      .criteria-table__row__userValue {
        margin-top: 1.95rem;
      }
      @include for-phone-only() {
        display: none;
      }
    }
    .criteria-table__row__mobile {
      border-top: unset;
      @include for-tablet-portrait-up() {
        display: none;
      }
      @include for-phone-only() {
        .accordion__summary {
          padding: unset;
          padding: 1rem 0.5rem;
          align-items: flex-start;

          .content-box__section__header {
            @include body_standard_mobile;
            font-weight: 600;
          }
          .content-box__section__header-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            @include body_standard_mobile;
            .content-box__section__header {
              padding-bottom: 0.25rem;
            }
          }
          .accordion__chevron {
            padding-left: 0.25rem;
            padding-top: 0.25rem;
          }
        }
        .accordion__content {
          padding: 0 0 1rem 3rem;
          .callout-box {
            flex-direction: column;
            padding: 0.75rem;
            gap: unset;
            background: $OFF_WHITE_100;
            margin-bottom: 0;
            &,
            .jfcl-link {
              @include body_standard_mobile;
            }
          }
        }
      }
    }

    .criteria-icon {
      padding: 0 1.25rem; // 0 20px
      font-size: 1.875rem; //30px
      width: 1.875rem; //30px

      @include for-phone-only() {
        padding: unset;
        margin-right: 1rem;
      }
    }

    .criteria-table__row__info {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 320px;
      padding-right: 1rem;
      box-sizing: border-box;
      gap: 10px;
    }

    .criteria-table__header__title,
    .criteria-table__row__criteria,
    .criteria-table__row__requirement,
    .criteria-table__row__userValue {
      @include body_standard_desktop;
    }

    .criteria-table__header__title,
    .criteria-table__row__criteria {
      font-weight: 600;
    }

    .criteria-table__row__userValue {
      margin: 0 1.25rem; // 20px
      box-sizing: border-box;
      flex-grow: 1;

      p {
        margin: 0 0 0.625rem 0;
      }
    }
  }

  .criteria-table__footer {
    .content-box__footer__message,
    .jfcl-link {
      @include for-phone-only {
        @include body_standard_mobile;
      }
    }
  }

  svg.criteria-icon {
    &.green {
      color: $GREEN;
    }
    &.yellow {
      color: $YELLOW;
    }
    &.orange {
      color: $ORANGE;
    }
  }
  .content-section {
    padding-top: 2rem;
    .content-box {
      margin: unset;
      margin-bottom: 2rem;
    }
  }
  .unknown-protections,
  .subsidized-protections {
    p,
    .jfcl-link {
      @include body_standard_desktop;
      @include for-phone-only {
        @include body_standard_mobile;
      }
    }
  }

  #gce-protections_eviction {
    ul {
      padding-left: 0;
    }
    li {
      @include body_standard_desktop;
      font-weight: 600;
      margin-bottom: 0.5rem;
      list-style-position: inside;
      margin-left: 0.625rem; //10px
    }
    li:first-of-type {
      margin-top: 1rem;
    }
    ::marker {
      font-size: 0.75rem;
    }
  }

  @include for-phone-only() {
    .content-section__content {
      width: 100%;
      .content-box {
        display: flex;
        flex-direction: column;
      }
    }
    .content-box__header-subtitle {
      @include h3_mobile;
    }
    .content-box__section__header {
      @include body_standard_mobile;
      font-weight: 600;
    }
  }

  .success-message {
    @include small_text_desktop;
    svg {
      height: 1.25rem;
      width: 1.25rem;
      color: $GREEN;
      margin-right: 0.25rem;
      vertical-align: bottom;
    }
  }

  .error-message {
    @include small_text_desktop;
    color: $RED;
    font-weight: 500;

    svg {
      color: $ORANGE;
      margin-right: 0.25rem;
      vertical-align: bottom;
    }
  }

  .share-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 3rem; //margin top accounts for content items above having 2rem margin bottoms
    position: relative;

    @include for-phone-only() {
      margin: 2rem 0 2rem;
    }

    .share-footer__header {
      @include h3_desktop;
      margin: 0 0 2rem 0;
      text-align: center;
      @include for-phone-only {
        @include h3_mobile;
      }
    }

    .success-message {
      position: absolute;
      bottom: -1.5rem;
      margin-top: 0.5rem;
    }
  }

  .next-step {
    --icon-size: 1.875rem; //30px
    --icon-margin: 1.5rem; // 24px;
    align-self: start;

    .criteria-icon {
      width: var(--icon-size);
      height: var(--icon-size);
      margin-right: var(--icon-margin);
    }
    .accordion__content {
      margin-left: calc(var(--icon-size) + var(--icon-margin));
    }
  }
}

@media screen {
  @include for-tablet-portrait-range() {
    .criteria-table__row {
      flex-direction: column;
      gap: 16px;
      text-align: center;
    }
    .criteria-table__row__info {
      width: 100%;
    }
    .criteria-table__row__userValue {
      margin: 0;
    }
  }

  .protections-on-next-page__print {
    display: none;
  }
  .divider__print {
    display: none;
  }
}

@media print {
  #results-page {
    .result-headline {
      &,
      .coverage-pill {
        line-height: 100%;
        font-size: 3.5rem;
      }

      .coverage-pill {
        &.green,
        &.yellow,
        &.orange {
          background-color: unset;
          padding: unset;
          text-decoration: underline;
          text-underline-offset: 0.5rem;
          color: $OFF_BLACK;
        }
      }
    }

    .headline-section__address__print {
      padding-bottom: 0;
    }

    .share-button__container,
    .criteria-table__footer .share-footer {
      display: none;
    }

    .criteria-table__header,
    .criteria-table {
      margin-top: 0;
    }

    .criteria-table__row {
      padding: 0.5rem 0;
      .criteria-table__row__desktop {
        flex-direction: row;
      }
      &:last-of-type {
        border-bottom: unset;
      }
    }

    .protections-on-next-page__print {
      @include h3_desktop;
      text-align: center;
    }

    .content-box {
      border: unset;
      .accordion__chevron,
      .content-box__footer {
        display: none;
      }
    }
    svg {
      color: $OFF_BLACK !important;
    }

    .phone-number-callout-box,
    .share-footer {
      display: none;
    }

    .divider__print {
      border-bottom: 1px solid black;
    }
  }
}
