@use "../../colors" as *;

// Copied from Signature Dashboard - replace with JFCL once available.

.pill {
  padding: 6px 0;
  border-radius: 12px;

  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.12px;
  box-sizing: border-box;

  &.pill__circle {
    display: flex;
    justify-content: center;
    border: 1px solid $OFF_BLACK;
    border-radius: 1.9375rem;
    width: 1.5em;
    height: 1.5em;
    padding: 0 0 0.2em 0;
    font-family: "Degular Text";
    font-weight: 600;
  }

  &.pill__green {
    background-color: $GREEN;
  }

  &.pill__black {
    background-color: $OFF_BLACK;
    color: $OFF_WHITE_100;
  }

  &.pill__none {
    background-color: unset;
    color: $OFF_BLACK;
  }
}
