#letter-sender-page {
  .letter-form {
    &__content {
      padding: 1rem;
    }
    &__buttons {
      display: flex;
    }
  }

  .modal {
    &__buttons {
      display: flex;
      gap: 1rem;
      margin-top: 1.5rem;
    }
  }
}
