@import "../../mixins.scss";
@import "../../colors.scss";
@import "../../variables.scss";

$contentPWidth: 677px;
$videoEmbedW: 623px;

.content-box {
  border-radius: 8px;
  border: 2px solid $GREY_NEW;
  max-width: $contentBoxWidth;
  margin: 36px 0;
  background-color: $WHITE;
}

.content-box__header {
  display: flex;
  padding: $contentBoxPadding;
  flex-direction: column;
  gap: 10px;

  .content-box__header-title {
    @include eyebrow_small_desktop;
  }

  .content-box__header-subtitle {
    @include h3_desktop;
  }
}

.content-box__section,
.content-box__footer {
  display: flex;
  padding: $contentBoxPadding;
  border-top: 1px solid $GREY_NEW;

  .eligibility__icon {
    font-size: 1.875rem; //30px
    width: 1.875rem; //30px
    margin-right: 36px;

    .eligible {
      color: $GREEN;
    }
    .ineligible {
      color: $RED;
    }
    .unknown {
      color: $YELLOW;
    }
  }

  .content-box__section__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .content-box__section__step {
      @include eyebrow_small_desktop;
      margin-bottom: 0.25rem; // 4px
    }

    .content-box__section__header {
      @include body_large_desktop;
      margin-bottom: 0.875rem; // 14px
    }

    .content-box__section__video {
      width: $videoEmbedW;
      background-color: black;
      align-self: center;
      margin-top: 1.875rem; // 30px
    }

    p {
      @include body_standard_desktop;
      max-width: $contentPWidth;
      margin: 0;
      &.bold {
        font-weight: 700;
      }
    }

    .jfcl-button,
    .jfcl-link {
      margin-top: 1.875rem; // 30px
      &.has-label {
        margin-top: 0.625rem; //10px
      }
      &:only-child {
        margin-top: 0;
      }
    }
  }
}

.content-box__footer {
  justify-content: center;

  .content-box__section__content {
    align-items: center;
    justify-content: center;

    button {
      margin: 0;
    }
  }
}
