@use "../../mixins" as *;
@use "../../colors" as *;
@use "../../variables" as *;

$contentPWidth: 677px;
$videoEmbedW: 623px;

.content-box {
  border-radius: 4px;
  border: 1px solid $GREY_200;
  width: 100%;
  max-width: $contentBoxWidth;
  margin: 24px 0;
  background-color: $WHITE;

  @include for-phone-only() {
    margin: unset;
  }

  #gce-protections_rent {
    .callout-box {
      flex-direction: column;
    }
    p {
      width: 75%;
    }

    strong {
      display: inline-block;
      margin-bottom: 0.5rem;
    }

    .rent-increase {
      display: block;
      margin: 1rem 0 0;
      .amount {
        @include body_large_desktop;
        font-weight: 600;
      }
      .formula {
        @include body_standard_desktop;
        @include for-phone-only {
          @include body_standard_mobile;
        }
      }
      @include for-tablet-portrait-up {
        br {
          display: none;
        }
      }
    }
  }
}

.content-box__header {
  display: flex;
  padding: $contentBoxPadding;
  flex-direction: column;
  gap: 10px;

  @include for-phone-only() {
    padding: 1.5rem; // 24px
  }

  .content-box__header-title {
    @include eyebrow_small_desktop;
  }

  .content-box__header-subtitle {
    @include h3_desktop;
  }
}

.content-box__section,
.content-box__footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $GREY_200;
  padding: 1.5rem 2rem;
  @include for-phone-only {
    padding: 1.5rem;
  }

  .content-box__section__step {
    @include eyebrow_small_desktop;
    margin-bottom: 0.25rem; // 4px
  }
  .content-box__section__header {
    display: flex;
    @include body_large_desktop;
    font-weight: 500;
    @include for-phone-only {
      @include body_standard_mobile;
      font-weight: 600;
    }
  }

  &,
  .content-box__section__content,
  .accordion__content {
    display: flex;
    flex-direction: column;

    .content-box__section__video {
      align-self: center;
      margin-top: 1.875rem; // 30px
      iframe {
        border: 0px;
      }
    }

    .callout-box {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 1rem;
      background-color: #efe9dc;
      border-radius: 4px;
      margin-bottom: 1.5rem;
      max-width: $contentPWidth;
    }

    .note-box {
      display: flex;
      padding: 1rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      align-self: stretch;
      border: 1px solid $GREY_200;
      border-radius: 4px;
      margin: 1.5rem 0;
      @include small_text_desktop;
    }

    li,
    p,
    a,
    button {
      @include body_standard_desktop;
      @include for-phone-only {
        @include body_standard_mobile;
      }
      a {
        font-size: inherit;
        font-weight: inherit;
        text-underline-offset: 0.125rem;
      }
    }

    p {
      max-width: $contentPWidth;
      margin: 0;
      &:not(:last-of-type):not(.bold) {
        margin-bottom: 1rem;
      }
      &.bold {
        font-weight: 700;
      }
    }

    ol {
      margin: 0;
      padding-left: 1.25rem;
      li {
        margin-bottom: 1em;
        &:last-of-type {
          margin-bottom: 0;
        }
        &::marker {
          font-weight: 600;
        }
      }
    }

    .jfcl-button,
    .jfcl-link {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      &.has-label {
        margin-top: 0.5rem;
      }
      &.has-label:has(+ .has-label) {
        margin-bottom: 0.75rem;
      }
      &.has-label + .has-label {
        margin-top: 0;
      }
      &:only-child,
      &:first-child {
        margin-top: 0;
      }
      &:last-child,
      &:not(.has-label) {
        margin-bottom: 0;
      }
    }

    .share-button__container {
      margin-top: 1.25rem;
      .share-button {
        margin: 0;
      }
    }
  }

  &.no-title {
    p {
      @include body_large_desktop;
    }
  }
}

.content-box__footer {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $OFF_WHITE_100;
  padding: 1.5rem;
  border-radius: 0 0 8px 8px;

  .jfcl-link {
    padding: 1rem 0;
  }

  @include for-phone-only() {
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  .content-box__footer__message {
    @include body_standard_desktop;
  }
}
