@use "../../../colors" as *;
@use "../../../mixins" as *;
@use "../../../variables" as *;

$mapImgHeight: 285px;

#confirm-address-page {
  .headline-section {
    @include for-tablet-portrait-up {
      padding-top: 2rem;
    }
  }
  .headline-section__subtitle {
    @include for-tablet-portrait-up {
      width: 75%;
    }
  }
  .content-section {
    @include for-phone-only {
      padding: 2rem 1.5rem !important;
    }
  }

  .info-box {
    margin-bottom: 1.125rem;
    .info-box__content-container {
      display: flex;
      font-size: 1rem;
      a {
        margin-left: auto;
        font-size: inherit;
        font-weight: inherit;
        text-underline-offset: 4px;
        @include for-phone-only {
          text-underline-offset: 2px;
        }
      }

      @include for-phone-only() {
        flex-direction: column;
        gap: 0.5rem;
        align-items: start;
        @include small_text_mobile;
        a {
          margin-left: unset;
        }
      }
    }
  }

  .content-box {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 1.125rem; // 18px
    background-color: $WHITE;
    @include for-phone-only() {
      border: none;
      padding: unset;
      gap: 2rem;
    }

    .map-address-container {
      display: flex;
      gap: 2.25rem; // 36px
      background-color: $WHITE;
      @include for-phone-only() {
        background-color: $OFF_WHITE_100;
        flex-direction: column-reverse;
        gap: 2rem;
        padding-bottom: 2rem;
      }

      &,
      .img-wrapper,
      .img-wrapper__img {
        border-radius: 3px;
      }

      .img-wrapper,
      .img-wrapper__img {
        height: $mapImgHeight;
        @include for-phone-only() {
          width: 100%;
        }
        @include for-tablet-portrait-up {
          border-radius: 3px 0 0 3px;
        }
      }
      .img-wrapper {
        background-color: $GREY_200;
        @include for-phone-only() {
          border: 2px solid #c5ccd1;
          border-radius: 4px;
        }
      }
      .img-wrapper__img {
        object-fit: cover;
      }

      .address-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem; // 8px
        margin-right: 2.25rem;
        @include for-phone-only() {
          gap: 0.25rem; // 4px
          margin-right: 0;
        }

        .your-address {
          @include eyebrow_small_desktop;
          @include for-phone-only() {
            display: none;
          }
        }
        .address-part-1 {
          @include h3_desktop;
          margin: 0;
          @include for-phone-only() {
            @include h3_mobile;
          }
        }
        .address-part-2 {
          @include body_large_desktop;
          @include for-phone-only() {
            @include body_standard_mobile;
          }
        }
      }
    }
  }

  .confirmation__buttons {
    align-self: center;
    display: inline-flex;
    margin: 2.5rem 0;

    .confirmation__back {
      margin-right: 0.625rem; //10px
      padding: 0.75rem 1.5rem 0.75rem 0; // 12px 24px 12px 0;
      align-self: center;
    }

    @include for-phone-only() {
      margin: unset;
      .jfcl-variant-primary {
        width: 12.5rem; //200px
      }
    }
  }
}
