@import "../../../colors.scss";
@import "../../../mixins.scss";
@import "../../../variables.scss";

$mapImgHeight: 223px;

#confirm-address-page {
  .content-box {
    display: flex;
    flex-direction: column;
    padding: 1.125rem; // 18px
    margin: 0;
    gap: 1.125rem; // 18px

    .info-box__content-container {
      display: flex;
      a {
        margin-left: auto;
      }
    }

    .map-address-container {
      display: flex;
      gap: 2.25rem; // 36px

      .img-wrapper,
      .img-wrapper__img {
        border-radius: 4px;
        // width: 100%;
        height: $mapImgHeight;
      }
      .img-wrapper {
        background-color: $GREY_NEW;
      }
      .img-wrapper__img {
        object-fit: cover;
      }

      .address-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem; // 8px

        .your-address {
          @include eyebrow_small_desktop;
        }
        .address-part-1 {
          @include h3_desktop;
          margin: 0;
        }
        .address-part-2 {
          @include body_large_desktop;
        }
      }
    }
  }

  .confirmation__buttons {
    align-self: center;
    display: inline-flex;
    margin: 0.75rem 0 1.5rem 0; // 12px 0 24px 0

    .confirmation__back {
      margin-right: 0.625rem; //10px
      padding: 0.75rem 1.5rem 0.75rem 0; // 12px 24px 12px 0;
      align-self: center;
    }
  }
}
