@import "../../colors.scss";
@import "../../variables.scss";
@import "../../mixins.scss";

#topbar {
  position: fixed;
  top: 0;
  background-color: $OFF_WHITE_200;
  border-bottom: 1px solid $OFF_BLACK;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
  z-index: 100;

  div {
    height: $headerH - (1.5rem * 2);
  }

  &,
  h1,
  span,
  a {
    color: $OFF_BLACK;
    text-decoration: none;
  }

  a {
    padding: 0.5rem 0;
    &:hover {
      color: $GREY_600;
    }
  }

  .topbar__name {
    border-right: 1px solid $OFF_BLACK;
    padding: 1.5rem 2.25rem;
    h1,
    a {
      margin: 0;
      font-family: "Degular Display";
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 100%; /* 1.5rem */
      letter-spacing: 0.045rem;
    }
  }

  .topbar__collab {
    flex: 1;
    border-right: 1px solid $OFF_BLACK;
    padding: 1.5rem 2.25rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 100%; /* 1.125rem */
    letter-spacing: 0.0225rem;
    a {
      text-decoration: underline;
      text-underline-position: from-font;
    }
    span,
    a {
      vertical-align: sub;
    }
  }

  .topbar__search {
    padding: 1.5rem;
    font-family: "Degular Display";
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.03375rem;
  }

  @include for-phone-only() {
    .topbar__name {
      border-right: none;
      padding: 1.5rem;
    }
    .topbar__collab {
      display: none;
    }
    .topbar__search {
      border-left: 1px solid $OFF_BLACK;
    }
  }

  @media print {
    position: unset;
    background-color: unset;

    .topbar__name,
    .topbar__collab {
      padding: 0.5rem 1rem;
    }
    .topbar__collab {
      border: none;
    }
    .topbar__search {
      display: none;
    }
    &,
    h1,
    a {
      color: black;
      @include body_large_desktop;
    }
  }
}
