@use "../../colors" as *;
@use "../../variables" as *;
@use "../../mixins" as *;

$headerH: 4.5rem; // H1 line-height (1.5rem) + vertical padding (1.5rem x 2)

#topbar {
  position: fixed;
  top: 0;
  background-color: $OFF_WHITE_200;
  border-bottom: 1px solid $OFF_BLACK;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
  z-index: 100;
  transition: top 0.2s ease-in-out;

  &.hide {
    top: -$headerH;
  }

  div {
    height: $headerH - (1.5rem * 2);
  }

  &,
  h1,
  span,
  a {
    color: $OFF_BLACK;
    text-decoration: none;
  }

  a {
    padding: 0.5rem 0;
    &:hover {
      color: $GREY_600;
    }
  }

  .topbar__name {
    border-right: 1px solid $OFF_BLACK;
    padding: 1.5rem 2.25rem;
    h1,
    a {
      margin: 0;
      font-family: "Degular Display";
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 100%; /* 1.5rem */
      letter-spacing: 0.045rem;
      white-space: nowrap;
    }
  }

  .topbar__collab {
    flex: 1;
    border-right: 1px solid $OFF_BLACK;
    padding: 1.5rem 2.25rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 100%; /* 1.125rem */
    letter-spacing: 0.0225rem;
    a {
      text-decoration: underline;
      text-underline-position: from-font;
    }
    span,
    a {
      vertical-align: sub;
    }
  }

  .topbar__rent-calculator {
    padding: 1.5rem;
    font-family: "Degular Display";
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.03375rem;
    a {
      text-decoration: underline;
      text-underline-position: from-font;
    }
    svg {
      display: none;
    }
  }

  // custom breakpoint to prevent rent calculator link overflow
  @media (max-width: 825px) {
    .topbar__name {
      border-right: none;
      padding: 1.5rem;
    }
    .topbar__collab {
      display: none;
    }
    .topbar__rent-calculator {
      border-left: 1px solid $OFF_BLACK;
      display: flex;
      align-items: center;

      .jfcl-link {
        text-wrap: auto;
        font-size: 0.875rem; //14px
        line-height: 1.0625rem; //17px
        letter-spacing: 0.02625rem; //0.42px
      }
    }
  }

  @media print {
    position: unset;
    background-color: unset;

    .topbar__name,
    .topbar__collab {
      padding: 0.5rem 1rem;
    }
    .topbar__collab {
      border: none;
    }
    .topbar__rent-calculator {
      display: none;
    }
    &,
    h1,
    a {
      color: black;
      @include body_large_desktop;
    }
  }
}
