@use "../../../mixins" as *;

.letter-form__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  @include for-phone-only() {
    .jfcl-variant-primary {
      width: 12.5rem; //200px
    }
    .jfcl-button.back-link {
      padding-left: 0;
    }
  }

  .jfcl-button.back-link {
    @include body_standard_desktop;
    text-decoration: underline;
    text-underline-offset: 4px;
    &:hover:not(:disabled) {
      background-color: unset;
    }
    // TODO: Remove once changed in JFCL
    svg {
      height: 0.9em;
      margin-top: 4px;
    }
  }
}
