@import "../../mixins.scss";

.share-button__container {
  display: flex;
  gap: 1.5rem;
  margin-top: 2.25rem;

  @include for-phone-only() {
    margin-top: 1.5rem;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }

  .share-button {
    background: unset;
    border: unset;
    text-decoration: underline;
    cursor: pointer;
    padding: 0.75rem 0;
  }
  .share-button svg {
    margin-right: 0.5rem;
  }
}

@media print {
  .share-button__container {
    display: none;
  }
}
