@page {
  size: letter;
  margin-top: 1in;
  margin-bottom: 1in;

  @top-right {
    content: string(title);
    white-space: pre;
    font-weight: bold;
    padding-top: 1in;
    padding-bottom: 0.2in;
  }

  @bottom-center {
    content: "Page " counter(page) " of " counter(pages);
    font-size: 9pt;
  }
}

h1 {
  font-size: 16px;
  text-decoration: underline;
  color: red;
}
section {
  margin: 16px;
}
