$inputTopMargin: 1.5rem; //24px

.radio-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: $inputTopMargin;

  .radio-button {
    min-width: 5.625rem; // 90px
    margin-right: 0;
  }
}