@use "../../mixins" as *;

.radio-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  @include for-phone-only() {
    flex-direction: column;
  }

  .radio-button {
    min-width: 5.625rem; // 90px
    margin-right: 0;
  }
}
