@use "../../mixins" as *;
@use "../../colors" as *;
@use "../../variables" as *;

.headline-section,
.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 3rem; // 48px
  padding-right: 3rem; // 48px
}

.headline-section {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 3rem; // 48px
  background-color: $OFF_WHITE_200;

  .headline-section__content {
    width: 100%;
    max-width: $contentBoxWidth;

    .headline-section__address {
      font-size: 1.125rem; // 18px
      margin-bottom: 3rem; // 48px
    }

    .headline-section__back-link {
      margin-bottom: 0.75rem; // 12px

      .jfcl-link {
        padding: 1rem 0;
        @include for-phone-only {
          @include body_standard_mobile;
        }
        // TODO: Remove once changed in JFCL
        svg {
          height: 0.9em;
          margin-top: 4px;
        }
      }
    }

    .headline-section__title {
      display: flex;
      flex-direction: column;
      gap: 4px;
      @include h2_desktop;

      @include for-phone-only {
        @include page_header_mobile;
      }
    }

    .headline-section__subtitle {
      @include body_large_desktop;
      margin-top: 1.125rem; // 18px
      @include for-phone-only {
        @include body_standard_mobile;
      }
    }
  }
}

.content-section {
  background-color: $OFF_WHITE_100;
  padding-top: 3rem; // 48px

  .content-section__content {
    max-width: $contentBoxWidth;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
  }
  // global bulleted list styling
  ul {
    margin-left: -1rem;

    li {
      padding-left: 0.5rem;
    }
    li::marker {
      font-size: 0.75rem;
    }
  }
}

@media screen {
  .headline-section,
  .content-section {
    @media (max-width: 772px) {
      padding: 1rem 1.5rem 2rem;
    }
  }
  .headline-section__address__print {
    @media screen {
      display: none;
    }
  }
}
@media print {
  #results-page,
  #portfolio-size-page,
  #rent-stabilization-page,
  #tenant-rights-page {
    .headline-section {
      padding: 1rem;
    }
  }
  .headline-section,
  .content-section {
    background-color: unset;
    border-bottom: unset;
    padding-top: 0;
    padding-bottom: 0;
  }

  .info-box {
    border-color: $GREY_200 !important;
  }

  .headline-section__address__print {
    @include body_large_desktop;
  }
}
