@import "../content-page.scss";
@import "../../../colors.scss";

#portfolio-size-page {
  .content-box__header > .info-box {
    @media (min-width: 900px) {
      display: none;
    }
  }

  .info-box {
    @include for-tablet-portrait-up {
      width: 78%;
    }
    .info-box__content-container {
      @include body_standard_desktop;
      @include for-phone-only {
        @include body_standard_mobile;
        font-weight: 500;
      }
    }
  }

  .headline-section {
    padding-top: 1.5rem;
    .headline-section__back-link {
      margin-bottom: 3rem;
    }
    .headline-section__address {
      margin-bottom: 1rem;
    }
  }
  .content-section {
    padding-top: 1.5rem;
  }

  .content-box__section.mobile-video-prompt {
    display: none;
  }

  .content-box {
    margin: unset;
    margin-bottom: 1.5rem;
    &.portfolio-video-box p {
      max-width: unset;
    }
    .content-box__section__video iframe {
      @include for-phone-only {
        height: 135px;
        width: 280px;
      }
    }
    p {
      margin-bottom: 1rem;
    }
  }

  .acris-links {
    border: 1px solid $GREY_NEW;

    &,
    .accordion__summary {
      border-radius: 4px;
    }

    .accordion__summary,
    & > .acris-links__header {
      padding: 1.125rem 1.5rem; // 18px 24px
    }

    .acris-links__header {
      display: flex;
      align-items: center;
      list-style: none;
      @include body_standard_desktop;
      font-weight: 600;

      .acris-links__pill {
        margin-left: 0.5rem; // 8px
      }
    }

    .accordion__content {
      padding: 0;
    }

    .acris-links__content {
      padding: 0.5rem 1.5rem 1.5rem 1.5rem;
      .info-box {
        align-content: flex-start;
        width: 75%;
        @include for-phone-only {
          width: unset;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      li {
        @include body_standard_desktop;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      a {
        padding: 0.75rem 0;
        &:visited {
          color: $BLUE_VISITED;
        }
      }
    }

    .acris-links__footer {
      background-color: $OFF_WHITE_100;
      border-radius: 0 0 4px 4px;
      border-top: 1px solid $GREY_NEW;
      padding: 1.5rem;
    }
  }

  .content-box__section__search-building,
  .content-box__section__related-buildings {
    margin-top: 1.875rem; //30px
  }

  .content-box__section__related-buildings {
    display: flex;
    flex-direction: column;

    & > ul {
      margin: 0;
      padding: 0;
      list-style: none;

      .acris-links {
        margin-bottom: 1rem;
      }
    }

    .related-buildings__footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $GREY_700;
      @include body_standard_desktop;
      padding: 1rem 1.5rem 0 1.5rem;
      @include for-phone-only {
        padding: 1rem 0 0;
      }

      button.load-more-button {
        background: unset;
        border: unset;
        text-decoration: underline;
        cursor: pointer;
        padding: 1rem 0;
      }

      .load-more-end {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.25rem; // 20px
        text-align: center;
        @include body_standard_desktop;
        color: $OFF_BLACK;
      }
    }

    .callout-box {
      display: flex;
      flex-direction: column;
      padding: 1.125rem 1.5rem; // 18px 24px
      margin-bottom: 0;
      gap: 1.125rem; // 18px
      border-radius: 4px;
      margin-top: 1.25rem; // 20px
      text-align: left;
      border: none;
      background-color: $OFF_WHITE_100;
      @include body_standard_desktop;
      width: 75%;

      @include for-phone-only {
        width: unset;
        @include small_text_mobile;
      }

      ul {
        margin: unset;
        padding-inline-start: 1.25rem; // 20px;
      }
      li:not(:last-child) {
        padding-bottom: 0.875rem; // 14px
      }
    }
  }
}

@media print {
  #portfolio-size-page {
    .headline-section__address__print {
      padding-bottom: 0.75rem; //12px
    }

    .headline-section__back-link {
      display: none;
    }

    .content-box {
      border: unset;
      .accordion__chevron {
        display: none;
      }
      .content-box__footer {
        display: none;
      }
    }

    .divider__print {
      border-bottom: 1px solid black;
      width: 100%;
    }
    .acris-links__pill {
      color: black;
    }
  }
}

@include for-phone-only() {
  #portfolio-size-page {
    .share-button__container {
      margin-top: 2.25rem !important; // overrides ShareButton.scss
    }
    .content-section {
      gap: 2rem;

      .content-box__section.mobile-video-prompt {
        display: block;
        padding: 1rem 1.5rem;
      }
      .content-box__header-title {
        display: none;
      }
      .content-box__header-subtitle {
        @include h3_mobile;
      }
      .content-box__section.no-title {
        padding: 1.5rem;
        p {
          margin: unset;
          @include body_standard_mobile;
        }
      }
      .accordion__summary {
        .content-box__section__step {
          @include eyebrow_mobile;
        }
        .content-box__section__header {
          @include body_standard_mobile;
          font-weight: 600;
        }
      }

      .accordion__content {
        p {
          @include body_standard_mobile;
        }
      }

      .jfcl-link {
        @include body_standard_mobile;
      }

      .acris-links {
        .acris-links__header {
          @include body_standard_mobile;
          font-weight: 600;
          flex-direction: column-reverse;
          align-items: start;
          .acris-links__pill {
            margin: 0 0 0.5rem;
          }
        }
        li,
        a {
          @include small_text_mobile;
          margin: 1rem 0;
        }
        .acris-links__footer {
          @include small_text_mobile;
        }
      }

      .load-more-end {
        @include body_standard_mobile;
      }
      .callout-box {
        li {
          @include small_text_mobile;
        }
      }
    }
  }
}
