@import "../../mixins.scss";
@import "../../colors.scss";

.geo-search {
  width: 100%;

  &.is-highlighted .jfcl-dropdown__single-value {
    background-color: $BLUE_50;
    width: fit-content;
  }

  .jfcl-dropdown__control {
    cursor: text;
  }

  .jfcl-dropdown__option {
    cursor: pointer;
  }

  .jfcl-dropdown__value-container {
    padding: 1.125rem; // 18px
  }
  .jfcl-dropdown__placeholder {
    @include body_large_desktop;
    svg {
      color: $OFF_BLACK;
      margin-right: 1.5rem; // 24px
    }
  }
  .jfcl-dropdown__indicators {
    display: none;
  }
  .jfcl-input-header__invalid_text {
    font-size: 1.125rem;
  }
  .jfcl-dropdown {
    .jfcl-dropdown__option--is-focused {
      background-color: $GREY_50;
    }
    .jfcl-dropdown__option--is-selected {
      background-color: $BLUE_50;
    }
  }
}
