@use "../../colors" as *;
@use "../../variables" as *;
@use "../../mixins" as *;

$headerH: 4.5rem; // H1 line-height (1.5rem) + vertical padding (1.5rem x 2)

#sidebar {
  background-color: $OFF_WHITE_200;
  border-right: 1px solid $OFF_BLACK;
  .nameplate {
    border-bottom: 1px solid $OFF_BLACK;
  }
  .sidebar__content {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    align-self: start;
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 2.3125rem 1.5rem 2.3125rem 2.25rem;
      li {
        margin-bottom: 2.5rem;
        a {
          @include body_large_desktop;
          text-decoration: none;
          &.active {
            text-decoration: underline;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.nameplate {
  height: calc($headerH - (1.5rem * 2));
  width: calc(240px - 2.25rem - 2.25rem - 1px);
  padding: 1.5rem 2.25rem;
  border-right: 1px solid $OFF_BLACK;
  h1,
  a {
    margin: 0;
    font-family: "Degular Display";
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 100%; /* 1.5rem */
    letter-spacing: 0.045rem;
    white-space: nowrap;
    text-decoration: none;
    color: $OFF_BLACK;
    &:hover {
      color: $GREY_600;
    }
  }
}

#topbar-placeholder {
  height: $headerH;
  &.hide {
    position: absolute;
  }
}

#topbar {
  height: calc($headerH);
  width: -webkit-fill-available;
  background-color: $OFF_WHITE_200;
  border-bottom: 1px solid $OFF_BLACK;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
  z-index: 100;

  &,
  h1,
  span,
  a {
    color: $OFF_BLACK;
    text-decoration: none;
  }

  a {
    padding: 0.5rem 0;
    &:hover {
      color: $GREY_600;
    }
  }

  .nameplate {
    @include for-tablet-portrait-up {
      display: none;
    }
  }

  .topbar__collab {
    flex: 1;
    border-right: 1px solid $OFF_BLACK;
    padding: 1.5rem 2.25rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 100%; /* 1.125rem */
    letter-spacing: 0.0225rem;
    a {
      text-decoration: underline;
      text-underline-position: from-font;
    }
    span,
    a {
      vertical-align: sub;
    }
  }

  .topbar__rent-calculator {
    padding: 1.5rem;
    font-family: "Degular Display";
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.03375rem;
    a {
      text-decoration: underline;
      text-underline-position: from-font;
    }
    svg {
      display: none;
    }
  }

  // custom breakpoint to prevent rent calculator link overflow
  @media (max-width: 825px) {
    .nameplate {
      border-right: none;
      padding: 1.5rem;
    }
    .topbar__collab {
      display: none;
    }
    .topbar__rent-calculator {
      border-left: 1px solid $OFF_BLACK;
      display: flex;
      align-items: center;

      .jfcl-link {
        text-wrap: auto;
        font-size: 0.875rem; //14px
        line-height: 1.0625rem; //17px
        letter-spacing: 0.02625rem; //0.42px
      }
      svg {
        display: unset;
      }
    }
  }

  @media print {
    position: unset;
    background-color: unset;

    .nameplate,
    .topbar__collab {
      padding: 0.5rem 1rem;
    }
    .topbar__collab {
      border: none;
    }
    .topbar__rent-calculator {
      display: none;
    }
    &,
    h1,
    a {
      color: black;
      @include body_large_desktop;
    }
  }
}

@include for-phone-only {
  #topbar {
    position: sticky;
    top: 0;

    &.hide {
      display: none;
    }
  }
  #topbar-placeholder {
    height: $headerH;
    &.hide {
      position: absolute;
    }
  }
  #sidebar {
    .nameplate {
      display: none;
    }
  }
}
