@use "../../colors" as *;
@use "../../mixins" as *;

.modal {
  max-width: 45rem;
  @include for-phone-only {
    max-width: calc(100vw - 2rem);
  }
  border: 0;
  padding: 0;
  border-radius: 0.125rem;
  position: fixed;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  background-color: $OFF_WHITE_100;
  &::backdrop {
    background: hsl(0 0% 0% / 50%);
  }
  button.modal__close.jfcl-button {
    margin: 1.5rem 1.5rem 0 auto !important;
    color: $OFF_BLACK;
    background: none;
    border: none;
    cursor: pointer;

    .jfcl-button__icon,
    svg {
      height: 2rem;
      width: 2rem;
      @include for-phone-only {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }

  &.has-close .modal__content {
    margin-top: -1.5rem;
  }

  .modal__content {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 1.5rem 1.5rem;

    @include body_standard_desktop;

    .modal__header {
      margin: 0 5rem 0 0;
      text-wrap: pretty;
      @include h3_desktop;
      @include for-phone-only {
        margin: 0 4rem 0 0;
        @include h3_mobile;
      }
    }

    .callout-box {
      background-color: $OFF_WHITE_200;
      padding: 2rem;
      &:not(:first-of-type) {
        margin-top: 1rem;
      }
      p {
        margin: 0;
        &:nth-of-type(2) {
          margin-top: 1rem;
        }
      }
    }

    figure {
      margin: 0;
      figcaption {
        margin-bottom: 1rem;
      }
      img {
        width: 100%;
      }
    }

    .rs-modal-content {
      margin: unset;
      padding: 1rem 0;
    }
  }
}
