@use "../../colors" as *;
@use "../../mixins" as *;
@use "../../variables" as *;

.letter-builder {
  .modal {
    .modal__header {
      margin-bottom: 1rem;
    }
    .callout-box {
      ul {
        margin-bottom: 0;
      }
    }
  }
}
