@use "../../colors" as *;
@use "../../mixins" as *;
@use "../../variables" as *;

.letter-form {
  &__content {
    border-radius: 4px;
    max-width: $contentBoxWidth;
    background-color: $WHITE;
    padding: 2rem;
    margin: 0 0 1.5rem 0; // 24px
    border: 1px solid $GREY_NEW;
    scroll-margin-top: 3.75rem; // 60px

    .jfcl-input-header {
      &__label {
        margin-bottom: 1rem;
        @include body_large_desktop;
        font-weight: 600;
      }
      &__invalid_text {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .info-box {
      margin-bottom: 1.5rem;
      &__content-container {
        @include body_standard_mobile;
      }
    }
  }
  &__buttons {
    display: flex;
  }
}
