@import "../../colors.scss";
@import "../../mixins.scss";
@import "../../variables.scss";

.form-step {
  border-radius: 4px;
  max-width: $contentBoxWidth;
  background-color: $WHITE;
  padding: 2rem 1.5rem;
  margin: 0 0 1.5rem 0; // 24px
  border: 1px solid $GREY_NEW;
  scroll-margin-top: 3.75rem; // 60px

  &.invalid {
    border: 2px solid $INVALID_COLOR;
  }

  .form-step-description {
    margin: 0;
    @include small_text_desktop;
  }
}
