@import "../../colors.scss";
@import "../../mixins.scss";
@import "../ContentBox/ContentBox.scss";

.form-step {
  border-radius: 4px;
  border: 1px solid $GREY_NEW;
  width: $contentBoxWidth;
  background-color: $WHITE;

  padding: 1.5rem; //24px
  margin: 0 0 1.5rem 0; // 24px

  .form-step-number {
    margin-top: 0;
    margin-bottom: 0.625rem; // 10px

    @include eyebrow_small_desktop;
  }

  .form-step-description {
    margin: 0;
    @include small_text_desktop();
  }
}
