@use "../../../mixins" as *;
@use "../../../variables" as *;
@use "../../../colors" as *;

#home-page {
  .geo-search-form {
    display: inline-flex;
    align-items: end;
    justify-content: end;
    gap: 1.5rem; // 24px
    width: 100%;
    height: 6.25rem; // 100px
    max-width: $contentBoxWidth;
    margin-top: 0.875rem; // 14px

    .jfcl-input-header__label {
      display: none;
    }
    .jfcl-dropdown {
      width: 100%;
    }

    @include for-phone-only {
      flex-direction: column;
      align-items: flex-start;
      height: 9.5rem; // arbritrary
      gap: 1rem; // 6px
      margin-top: 2rem;
    }
  }

  .content-section {
    padding: 4.5rem 2rem;
    @include for-phone-only() {
      padding: 2rem 1.5rem;
    }

    &.home__about-law {
      border-bottom: 1px solid $OFF_BLACK;
    }

    h3 {
      @include h3_desktop;
      margin: 0 0 1rem 0;

      @include for-phone-only {
        @include h3_mobile;
      }
    }

    h4,
    p,
    a,
    .jfcl-link {
      @include body_large_desktop;
      @include for-phone-only {
        @include body_standard_mobile;
      }
    }

    p {
      margin: 0 0 1.5rem 0;
      @include for-tablet-portrait-up {
        width: 85%;
      }
    }

    .callout-box {
      display: flex;
      flex-direction: column;
      background-color: $OFF_WHITE_200;
      border-radius: 4px;
      margin: 1.5rem 0 0 0;
      padding: 2rem;

      @include for-phone-only {
        padding: 1.5rem;
      }

      .callout-box__header {
        margin-bottom: 0.5rem;
        font-weight: 600;
        @include for-phone-only {
          font-weight: 600;
        }
      }
    }

    .about-project__orgs-container {
      display: flex;
      gap: 2.25rem; // 36px;
      @include for-phone-only() {
        flex-direction: column;
        gap: 0;
      }
      .callout-box {
        width: 100%;
        height: fit-content;
        margin-top: 0.75rem;
        padding: 1.5rem;
        @include for-phone-only() {
          margin-top: 1.5rem; // 24px
          width: unset;
        }
        @include for-tablet-portrait-up {
          p,
          a {
            @include body_standard_desktop;
            width: unset;
          }
        }
      }
    }
  }
}
