@import "../../../mixins.scss";

#subsidy-page {
  .headline-section {
    padding-top: 1.5rem;
    .headline-section__back-link {
      margin-bottom: 3rem;
    }
    .headline-section__address {
      margin-bottom: 1rem;
    }
  }

  .content-section {
    padding-top: 1.5rem;
  }

  .content-box {
    margin: 0 0 1.5rem;
  }

  @include for-phone-only() {
    .content-section {
      padding-bottom: 0;
    }
    .share-button__container {
      margin-top: 2.25rem !important; // overrides ShareButton.scss
    }
    .content-box__header-title {
      display: none;
    }
    .content-box__header-subtitle {
      @include h3_mobile;
    }
    .content-box__section {
      p {
        margin: unset;
        @include body_standard_mobile;
      }
    }
  }

  @media print {
    .headline-section__address__print {
      padding-bottom: 0.75rem; //12px
    }

    .headline-section__back-link {
      display: none;
    }

    .content-box {
      border: unset;
      .accordion__chevron {
        display: none;
      }
      .content-box__footer {
        display: none;
      }
    }

    .divider__print {
      border-bottom: 1px solid black;
      width: 100%;
    }
  }
}
