@import "../../../mixins.scss";
@import "../../../colors.scss";

$inputTopMargin: 1.5rem; //24px

.form__wrapper {
  position: relative;
  padding-top: calc(70px + 3rem);


  .jfcl-input-header__label {
    margin-top: 0;
    margin-bottom: 0;
    @include body_large_desktop;
  }

  .jfcl-input-header__helper_text {
    @include small_text_desktop;
    margin-top: .625rem; // 10px
    margin-bottom: 0;
  }

  .jfcl-text-input {
    margin-bottom: 0;
  }

  .jfcl-text-input__wrapper {
    margin-top: $inputTopMargin;
  }

  #rent-input {
    width: 19.375rem; // 310px
  }
}

.form__navHeader {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 1.5rem 3rem; //24px 48px
  border-bottom: 1px solid #000;
  position: absolute;
  width: 100%;
  top: 0;
  left: -3rem;
}

.address {
  @include h3_desktop;
}

.radio-options {
  display: flex;
  margin-top:$inputTopMargin;

  .radio-button {
    min-width: 5.625rem; // 90px
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.form__subheader {
  margin-bottom: 3rem; //48px
}

.form__buttons {
  display: flex;
  justify-content: center;
  margin: 3rem 0; //48px
  gap: 0.625rem; //10px
}
