@import "../../../mixins.scss";
@import "../../../colors.scss";
@import "../../ContentBox/ContentBox.scss";

$inputTopMargin: 1.5rem; //24px

.form__wrapper {
  position: relative;
  padding-top: calc(70px + 1rem); // TODO: use var for breadcrumbs height
  padding-left: 3rem; // 48px
  padding-right: 3rem; // 48px

  .jfcl-input-header__label {
    margin-top: 0;
    margin-bottom: 0;
    @include body_large_desktop;
  }

  .jfcl-input-header__helper_text {
    @include body_standard_desktop;
    margin-top: 0.625rem; // 10px
    margin-bottom: 0;
  }

  .jfcl-text-input {
    margin-bottom: 0;
  }

  .jfcl-text-input__wrapper {
    margin-top: $inputTopMargin;
  }

  #rent-input {
    max-width: 19.375rem; // 310px
  }
}

.address {
  @include h3_desktop;
}

.form__subheader {
  @include body_large_desktop;
  margin-bottom: 3rem; //48px
  max-width: $contentBoxWidth;
}

.form__buttons {
  display: flex;
  justify-content: center;
  margin: 3rem 0; //48px
  gap: 0.625rem; //10px
}
