@use "../../../mixins" as *;
@use "../../../variables" as *;
@use "../../../colors" as *;

#survey-page {
  .headline-section__subtitle {
    @include for-tablet-portrait-up {
      width: 75%;
    }
  }

  .content-section {
    @include for-phone-only() {
      padding-bottom: 0;
    }
  }
  .jfcl-input-header__label {
    @include body_large_desktop;
    font-weight: 500;
    margin: 0 0 1.125rem 0; // 18px
    @include for-phone-only {
      @include body_large_mobile;
    }
  }

  .jfcl-input-header__label + .info-box {
    margin-top: 0;
  }

  .info-box {
    margin-top: 1.125rem; // 18px
    margin-bottom: 2.25rem; // 24px
    &.orange {
      border-width: 2px;
      margin: 0 0 2.25rem;
      @include for-phone-only {
        margin-bottom: 1rem;
      }
    }
  }

  .jfcl-text-input {
    margin-bottom: 0;
  }

  #rent-input {
    max-width: 19.375rem; // 310px
    appearance: textfield;
    padding-left: var(--input-padding-left);

    @include for-phone-only() {
      max-width: unset;
    }

    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  .form__buttons {
    display: flex;
    justify-content: center;
    margin: 1rem 0 2.5rem;
    gap: 0.625rem; //10px

    .survey__back {
      margin-right: 0.625rem; //10px
      padding: 0.75rem 1.5rem 0.75rem 0; // 12px 24px 12px 0;
      align-self: center;
      // TODO: Remove once changed in JFCL
      svg {
        height: 0.9em;
        margin-top: 4px;
      }
    }
  }

  .jfcl-input-header__invalid_text {
    font-size: 1rem;
  }
}
