@use "../../../colors.scss" as *;
@use "../../../mixins.scss" as *;

.content-box {
  .content-box__section__header {
    h3,
    h4,
    h5,
    h6 {
      display: inherit;
    }
    .pill__circle {
      margin-right: 1rem;
      font-size: 1.125rem;
      min-width: 1.5em;
      min-height: 1.5em;
      align-self: center;
    }
  }

  &.next-steps {
    ul {
      margin-top: 0;
    }
    p:has(+ ul) {
      margin-bottom: 1rem;
    }
  }

  ul.no-bullets {
    padding: 0;
    margin-bottom: 0;
    margin-left: -0.5rem;
    li {
      list-style-type: none;
      &:not(:last-of-type) {
        margin-bottom: 0.75rem;
      }
    }
  }

  .next-step.while-you-wait {
    background-color: $OFF_WHITE_100;
    border-radius: 0 0 4px 4px;
    padding: 1.5rem 2rem;

    .content-box__section__header,
    p {
      @include body_standard_desktop;
    }
    .content-box__section__header {
      margin-bottom: 0.75rem;
    }
  }
}
