@use "../../mixins" as *;
@use "../../colors" as *;
@use "../../variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $OFF_WHITE_200;
  padding: 2rem 0 1.5rem;
  @include for-phone-only() {
    padding: 2rem 0;
  }

  .footer__content,
  .footer__bottom-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: -webkit-fill-available;
    align-items: center;
    max-width: $contentBoxWidth;
    padding-left: 3rem; // 48px
    padding-right: 3rem; // 48px
    @media (max-width: 772px) {
      padding-left: 1.5rem; // 24px
      padding-right: 1.5rem; // 24px
    }
  }

  .footer__locale-toggle,
  .footer__legal-disclaimer {
    align-self: start;
    @include body_standard_desktop;
    span {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
  }
  .footer__locale-toggle {
    margin-bottom: 1.5rem;
    span {
      display: inline;
    }
    @include for-tablet-landscape-up() {
      display: none;
    }
  }

  .footer__legal-pages {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 0.25rem;
  }

  hr {
    width: -webkit-fill-available;
    border: none;
    border-bottom: 1px solid $OFF_BLACK;
    margin: 1.5rem 0;
  }

  .footer__name .jfcl-link {
    text-decoration: none;
  }

  .footer__name,
  .footer__collab {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 100%; /* 1.125rem */
    letter-spacing: 0.0225rem;
  }

  .footer__collab {
    margin-left: auto;
    a {
      padding: 0.75rem 0;
      text-decoration: underline;
      text-underline-position: from-font;
    }
  }

  .footer__name,
  .footer__legal-pages {
    .jfcl-link {
      padding: 0.75rem 0;
    }
  }

  @include for-phone-only {
    .footer__legal-disclaimer {
      margin-bottom: 1.5rem;
    }
    .footer__content {
      grid-template-columns: 1fr;
    }
    .footer__legal-pages {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      width: unset;
      .jfcl-link {
        margin-right: 2rem;
      }
    }
    .footer__bottom-bar {
      grid-template-columns: 1fr;
    }
    .footer__collab {
      margin: 1rem 0 0;
      width: unset;
    }
  }
}

@media print {
  .footer {
    display: none;
  }
}
