{
  "openapi": "3.0.0",
  "info": {
    "title": "JustFix API",
    "description": "Api for accessing housing data maintained by JustFix.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://demo-wowserver.justfix.org/api"
    }
  ],
  "components": {
    "schemas": {
      "ACRISProperty": {
        "properties": {
          "bbl": {
            "type": "string",
            "example": "3071980006",
            "description": "Borough-Block-Lot of the associated property, 10-digit zero-padded"
          },
          "doc_id": {
            "type": "string",
            "example": "2022030100595001",
            "description": "ACRIS document ID, used to link to document details."
          },
          "doc_date": {
            "type": "string",
            "example": "2022-02-24",
            "description": "Date associated with the ACRIS document."
          },
          "unitsres": {
            "type": "integer",
            "example": 45,
            "description": "Number of residential units in the associated property"
          }
        }
      },
      "ACRISDocument": {
        "properties": {
          "doc_id": {
            "type": "string",
            "example": "2022030100595001",
            "description": "ACRIS document ID, used to link to document details."
          },
          "doc_type": {
            "type": "string",
            "example": "AGMT",
            "description": "ACRIS document type (AGMT, MTGE, AL&R)"
          }
        }
      },
      "WOWProperty": {
        "properties": {
          "bbl": {
            "type": "string",
            "example": "3071980006",
            "description": "Borough-Block-Lot of the associated property, 10-digit zero-padded"
          },
          "distance_ft": {
            "type": "number",
            "example": "103.59",
            "description": "Distance from the user's building to this property, in feet."
          },
          "match_name": {
            "type": "boolean",
            "example": "true",
            "description": "Whether the primary contact name on the user's building's HPD registration exactly matches with this property."
          },
          "match_bizaddr_unit": {
            "type": "boolean",
            "example": "false",
            "description": "Whether the primary contact business address on the user's building's HPD registration exactly matches with this property, including the unit number."
          },
          "match_bizaddr_nounit": {
            "type": "boolean",
            "example": "true",
            "description": "Whether the primary contact business address on the user's building's HPD registration exactly matches with this property, excluding the unit number."
          },
          "unitsres": {
            "type": "integer",
            "example": 45,
            "description": "Number of residential units in the associated property"
          },
          "acris_docs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ACRISDocument"
            },
            "description": "Array of up to 5 ACRIS document IDs, in order by date"
          }
        }
      },
      "Building": {
        "properties": {
          "bbl": {
            "type": "string",
            "example": "3071980006",
            "description": "Borough-Block-Lot of property, 10-digit zero-padded"
          },
          "unitsres": {
            "type": "integer",
            "example": 45,
            "description": "Number of residential units"
          },
          "wow_portfolio_units": {
            "type": "integer",
            "example": "56",
            "description": "Total number of residential units across properties in this WOW portfolio."
          },
          "wow_portfolio_bbls": {
            "type": "integer",
            "example": "3",
            "description": "Total number of properties in this WOW portfolio."
          },
          "bldgclass": {
            "type": "string",
            "example": "D8",
            "description": "Building class code (PLUTO)"
          },
          "yearbuilt": {
            "type": "integer",
            "example": 1957,
            "description": "Year the property was built (PLUTO)"
          },
          "co_issued": {
            "type": "string",
            "example": "2014-03-16",
            "description": "Most recent date of Certificate of Occupancy issued for the property"
          },
          "co_bin": {
            "type": "string",
            "example": "2130453",
            "description": "The BIN (Building Identification Number) associated with the latest Certificate of Occupancy"
          },
          "post_hstpa_rs_units": {
            "type": "integer",
            "example": 45,
            "description": "Most recent non-zero number of registered rent stabilized units for 2019-2023."
          },
          "is_nycha": {
            "type": "boolean",
            "example": "FALSE",
            "description": "Whether or not the property appears in list of NYCHA properties"
          },
          "is_subsidized": {
            "type": "boolean",
            "example": "FALSE",
            "description": "Whether or not the property appears in Furman Center's Subsidized Housing Database as having LIHTC, HUD project-based subsidy or financing, HPD programs, Mitchel-Lama, or NYCHA"
          },
          "subsidy_name": {
            "type": "string",
            "example": "Article XI",
            "description": "Name of the subsidy program the building has, from Furman Center's Subsidized Housing Database and Article XI data"
          },
          "acris_docs": {
            "type": "array",
            "items": "string",
            "example": [
              "2021121300683017",
              "2021121300683018",
              "2021121300683016",
              "2016120901123004",
              "2016120901123005"
            ],
            "description": "Array of up to 5 ACRIS document IDs, in order by date"
          },
          "acris_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ACRISProperty"
            },
            "description": "Array of properties that appear in ACRIS documents (MTGE,AGMT,AL&R) alongside the search address property"
          },
          "wow_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WOWProperty"
            },
            "description": "Array of properties within the search address property's WOW portfolio, with additional fields for prioritization."
          }
        }
      }
    }
  },
  "paths": {
    "/gce/eligibility": {
      "get": {
        "summary": "Returns data for determining the eligibility for Good Cause Eviction protections for the requested property (BBL).",
        "parameters": [
          {
            "name": "bbl",
            "in": "query",
            "description": "BBL of the property, in 10-digit zero-padded format",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3071980006"
          }
        ],
        "responses": {
          "200": {
            "description": "Data for determining GCE eligibility. Returns empty list if the BBL does not appear in the current version of PLUTO.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Building"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. BBL should be a 10-digit padded BBL."
          }
        }
      }
    }
  }
}
