@use "../../colors" as *;
@use "../../mixins" as *;

.info-box {
  display: flex;
  padding: 0.75rem; // 12px
  gap: 0.5rem; // 8px
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: $OFF_BLACK;

  &.white {
    background-color: $WHITE;
    border-color: $GREY_NEW;
  }
  &.blue {
    background-color: $BLUE_50;
    border-color: $BLUE_150;
  }
  &.orange {
    background-color: $ORANGE_ALPHA;
    border-color: $ORANGE;
  }
  .info-box__content-container {
    flex: 1;
    @include small_text_desktop;
    .bold {
      font-weight: 600;
    }
  }
}
