@use "../../colors" as *;
@use "../../mixins" as *;

.info-box {
  display: flex;
  padding: 0.75rem; // 12px
  gap: 0.5rem; // 8px
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: $OFF_BLACK;

  &.white {
    background-color: $WHITE;
    border-color: $GREY_200;
    .info-box__content-container {
      max-width: 80%;
    }
  }
  &.blue {
    background-color: $BLUE_50;
    border-color: $BLUE_150;
  }
  &.orange {
    background-color: $ORANGE_ALPHA;
    border: 2px solid $ORANGE;
    .info-box__icon-container svg {
      color: $ORANGE;
    }
  }
  .info-box__content-container {
    flex: 1;
    @include body_standard_desktop;
    @include for-phone-only {
      @include body_standard_mobile;
    }
    .bold {
      font-weight: 600;
    }
  }
}
