@use "../../mixins.scss" as *;

#gce-protections_rent {
  strong {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  .callout-box {
    flex-direction: column;
    span,
    a {
      margin: 0;
    }
    .rent-increase {
      display: block;
      .amount {
        @include body_large_desktop;
        font-weight: 600;
      }
      .formula {
        @include body_standard_desktop;
        @include for-phone-only {
          @include body_standard_mobile;
        }
      }
      @include for-tablet-portrait-up {
        br {
          display: none;
        }
      }
    }
  }
}

#gce-protections_eviction {
  .accordion__content {
    h5 {
      @include body_standard_desktop;
      font-weight: 500;
      margin-top: 1rem;
    }
    ul {
      padding-left: 0;
    }
    li {
      @include body_standard_desktop;
      list-style-position: inside;
      margin-left: 1.5rem;
    }
    li:first-of-type {
      margin-top: 1rem;
    }
    ::marker {
      font-size: 0.75rem;
    }
  }
}

#gce-protections_rent,
#gce-protections_eviction {
  .accordion__content {
    max-width: 80%;
  }
  .letter-callout {
    padding: 1rem;
    margin: 1rem 0 0;
    gap: 0.5rem;
    .notice__icon-container svg {
      padding: 0.25rem 0;
    }
    .notice__body {
      @include body_standard_desktop;
      p {
        margin-bottom: 1rem;
        @include for-tablet-portrait-up {
          width: 85%;
        }
      }
      strong {
        display: inline;
      }
    }
  }
}
