@use "colors" as *;
@use "variables" as *;
@use "mixins" as *;

@media print {
  html {
    font-size: 12px;
  }
}

// removes default print page header/footer (date, url, etc.)
@page {
  size: auto;
  // TODO: should remove margin for PDF if possible
  margin: 24px;
}

#grid {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#sidebar {
  width: $sidebarWidth;
  flex-shrink: 0; // Prevent sidebar from shrinking

  @include for-tablet-landscape-down {
    display: none;
  }
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $OFF_WHITE_200;

  #content {
    height: 100%;
    width: 100%;
  }
}

.content-p {
  max-width: 55rem; // 880px
}

.geo-search-form {
  max-width: 37rem; // 592px;
}

.disabled {
  pointer-events: none;
}

a.jfcl-link {
  &.source-link {
    white-space: nowrap;
  }
  .jfcl-link__icon-wrapper {
    white-space: nowrap;
    svg.jfcl-link__icon {
      margin-left: 6px;
    }
  }
}

a.back-link.jfcl-link {
  svg.jfcl-link__icon {
    margin: 0 0.5rem 0 0;
  }
}

button.text-link-button {
  display: inline;
  width: unset;
  padding: 0;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  @include body_standard_desktop;
}

.pill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.375rem 0.625rem; // 6px 10px
  border-radius: 14px; // 12px in figma but looks wrong
  border: 1px solid $OFF_BLACK;
  background-color: $OFF_BLACK;
  color: $OFF_WHITE_100;
  text-align: center;
  font-size: 0.875rem; // 14px
  font-style: normal;
  font-weight: 600;
  line-height: 100%; // 14px
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

button.jfcl-button {
  &:hover:not(:disabled),
  &:active:not(:disabled) {
    box-shadow: none;
  }

  &.jfcl-variant-primary {
    &:hover:not(:disabled) {
      background-color: $GREY_700;
    }
    &:active:not(:disabled) {
      background-color: $GREY_600;
    }
  }

  &.jfcl-variant-secondary {
    &:hover:not(:disabled) {
      background-color: $WHITE;
    }
    &:active:not(:disabled) {
      background-color: $OFF_WHITE_150;
    }
  }
}

div.jfcl-input-header__invalid_text {
  color: $RED;
  .jfcl-input-header__invalid_icon {
    color: $ORANGE;
    margin-right: 8px;
  }
}
