$WHITE: #ffffff;
$OFF_WHITE_100: #faf8f4;
$OFF_WHITE_150: #ebece8;
$OFF_WHITE_200: #efe9dc;
$OFF_WHITE_NEW: #fdfbf9;
$OFF_WHITE_200_DARKER: #d6cfc0;
$OFF_BLACK: #242323;
$GREY_700: #4e4b4b;
$GREY_600: #676565;
$GREY_400: #9a9898;
$GREY_50: #f2f2f2;
$GREEN: #1aa551;
$GREEN_100: #e6fff0;
$PINK: #ffa0c7;
$YELLOW: #ffba33;
$YELLOW_100: #fff8e6;
$ORANGE: #ff813a;
$BLUE: #5188ff;
$BLUE_150: #9fbdff;
$BLUE_100: #c6d8ff;
$BLUE_50: #edf3ff;
$BLUE_VISITED: #32559f;
$GREY_SHADOW: #d4d5d0;
$GREY_DISABLED: #ebece8;
$GREY_NEW: #c5ccd1;

$FOCUS_OUTLINE_COLOR: $BLUE;
$INVALID_COLOR: $ORANGE;

$ORANGE_ALPHA: rgba(255, 129, 58, 0.1);
$ORANGE: #ff813a;
$RED: #ba4300;

$TEXT_DISABLED: $GREY_600;
$BACKGROUND_DISABLED: $GREY_50;
$BORDER_DISABLED: $GREY_400;
