@use "colors" as *;
@use "variables" as *;
@use "mixins" as *;
@use "./Components/TopBar/TopBar.scss" as *;
@import "@justfixnyc/component-library/dist/src/assets/index.css";

html {
  height: 100%;
}

body {
  font-family: "Degular";
  margin: $headerH 0 0;
  height: 100%;
}

#root {
  height: 100%;
}

h2 {
  @include page_header;
  margin: 0;
}
