@use "colors" as *;
@use "variables" as *;
@use "mixins" as *;
@import "@justfixnyc/component-library/dist/src/assets/index.css";

html {
  height: 100%;
}

body {
  font-family: "Degular";
  margin: 0;
  height: 100%;
  // Ensures visual parity with figma (otherwise appears too heavy)
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}
