@import "@justfixnyc/component-library/dist/src/assets/index.css";
@import "colors.scss";
@import "variables.scss";
@import "mixins.scss";

html {
  height: 100%;
}

body {
  font-family: "Degular";
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

h2 {
  @include page_header;
  margin: 0;
}
