@mixin body_standard_desktop {
  font-family: "Degular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem; // 18px
  line-height: 120%; // 21.6px
  letter-spacing: 0.54px;
}

@mixin h3_desktop {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 36px */
}

@mixin page_header {
  font-family: Degular;
  font-size: 3.25rem; // 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 52px */
  letter-spacing: 1.56px;
}

@mixin body_large_desktop {
  font-family: "Degular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem; // 24px
  line-height: 120%; // 28.8px
  letter-spacing: 0.72px;
}

@mixin small_text_desktop {
  font-family: "Degular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem; // 14px
  line-height: 130%; // 28.8px
  letter-spacing: 0.42px;
}

@mixin eyebrow_small_desktop {
  font-family: "Suisse Int'l Mono";
  font-size: 1rem; // 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 18.4px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

@mixin eyebrow_large_desktop {
  font-family: "Suisse Int'l Mono";
  font-size: 1.125rem; // 18px
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 20.7px */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
