@mixin body_standard_desktop {
  font-family: "Degular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem; // 18px
  line-height: 120%; // 21.6px
  letter-spacing: 0.03375rem; // 0.54px
}

@mixin h2_desktop {
  font-family: "Degular Display", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 4rem */
  letter-spacing: 0.12rem; // 1.92px
}

@mixin h3_desktop {
  font-size: 2.25rem; // 36px
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 36px */
}

@mixin h4_desktop {
  font-size: 1.5rem; // 24px
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

@mixin page_header {
  font-family: Degular;
  font-size: 3.25rem; // 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 52px */
  letter-spacing: 0.0975rem; // 1.56px
}

@mixin body_large_desktop {
  font-family: "Degular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem; // 24px
  line-height: 120%; // 28.8px
  letter-spacing: 0.045rem; // 0.72px
}

@mixin small_text_desktop {
  font-family: "Degular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem; // 14px
  line-height: 130%; // 28.8px
  letter-spacing: 0.02625rem; // 0.42px
}

@mixin eyebrow_small_desktop {
  font-family: "Suisse Int'l Mono";
  font-size: 1rem; // 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 18.4px */
  letter-spacing: 0.03rem; // 0.48px
  text-transform: uppercase;
}

@mixin eyebrow_large_desktop {
  font-family: "Suisse Int'l Mono";
  font-size: 1.125rem; // 18px
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 20.7px */
  letter-spacing: 0.03375rem; // 0.54px
  text-transform: uppercase;
}

@mixin body_standard_mobile {
  font-family: Degular;
  font-size: 1.125rem; // 18px
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  letter-spacing: 0.03375rem; // 0.54px
}

@mixin h3_mobile {
  font-family: Degular;
  font-size: 1.5rem; // 24px
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}

@mixin page_header_mobile {
  font-family: "Degular Display";
  font-size: 2.25rem; // 36px
  font-style: normal;
  font-weight: 500;
  line-height: 104%; /* 37.44px */
  letter-spacing: 0.0675rem; // 1.08px
}

@mixin body_large_mobile {
  font-family: Degular;
  font-size: 1.5rem; // 24px
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.045rem; // 0.72px
}

@mixin small_text_mobile {
  font-family: Degular;
  font-size: 0.875rem; // 14px
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
  letter-spacing: 0.02625rem; // 0.42px
}

@mixin eyebrow_mobile {
  font-family: "Suisse Int'l Mono";
  font-size: 0.625rem; // 10px
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 11.5px */
  letter-spacing: 0.01875rem; // 0.3px
  text-transform: uppercase;
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-down {
  @media (max-width: 772px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-portrait-range {
  @media (min-width: 600px) and (max-width: 772px) {
    @content;
  }
}

@mixin for-tablet-landscape-down {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
