@import "../../colors.scss";
@import "../../mixins.scss";

#progress-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;

  .progress-bar__step:first-of-type.visited {
    @include for-phone-only {
      a,
      span {
        width: 25vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .progress-bar__step {
    display: flex;
    align-items: center;
    font-weight: 500;

    span,
    a {
      font-family: "Degular", Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 120%;
      letter-spacing: 0.54px;
      padding: 1rem 0;
    }

    a:not(:hover) {
      text-decoration: none;
    }

    .progress-bar__step__number {
      display: flex;
      justify-content: center;
      border: 1px solid $OFF_BLACK;
      border-radius: 1.9375rem;
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.38rem;
      font-family: "Degular Text";
      font-size: 0.875rem;
      font-weight: 600;
      letter-spacing: -0.00963rem;
    }

    .progress-bar__step__number.visited {
      background-color: $OFF_BLACK;
      color: $OFF_WHITE_100;
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid $OFF_BLACK;
    width: 2rem;
    margin: 0;
  }
}

@include for-phone-only {
  #progress-bar {
    gap: 1rem;
    hr {
      display: none;
    }
  }
}

@media print {
  #progress-bar {
    display: none;
  }
}
