@import "../../colors.scss";

.progress-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  padding: 1.5rem 0; //24px
  position: absolute;
  top: 0;

  @media print {
    display: none;
  }

  .progress-bar__step,
  .progress-bar__step__active {
    font-size: 1.125rem; // 18px
  }
  .progress-bar__step {
    font-weight: 500;
    color: $GREY_700;
    &:not(:hover) {
      text-decoration: none;
    }
  }
  .progress-bar__step__active {
    font-weight: 600;
  }
}

.back-to-results.jfcl-link {
  .jfcl-link__icon {
    margin: 0 0.75rem 0 0; // 12px
  }
}
