@use "../../../colors" as *;
@use "../../../mixins" as *;

.progress-bar {
  margin-bottom: 2rem;

  &__title {
    display: block;
    margin: 0 0 0.75rem 0;
    span,
    h2,
    h3 {
      @include body_standard_desktop;
      display: inline;
    }
    h2,
    span {
      font-weight: 600;
    }
  }

  &__container {
    height: 0.5rem;
    border: 1px solid $OFF_BLACK;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
  }

  &__fill {
    height: 100%;
    background-color: $OFF_BLACK;
    border-radius: 0.25rem;
    transition: width 0.3s ease;
  }

  &__steps {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }

  .progress-bar__step {
    &.active {
      font-weight: bold;
    }
  }
}
