@use "../../../colors" as *;
@use "../../../mixins" as *;

.progress-bar {
  margin-bottom: 2rem;

  &__title {
    display: block;
    margin: 0 0 0.75rem 0;
    span,
    h2,
    h3 {
      @include body_standard_desktop;
      display: inline;
    }
    h2,
    span {
      font-weight: 600;
    }
  }

  progress {
    width: 100%;
    height: 1rem;
    border: 1px solid $OFF_BLACK;
    border-radius: 1rem;
    &::-webkit-progress-bar {
      background: transparent;
    }
    &::-webkit-progress-value {
      background-color: $OFF_BLACK;
      border-radius: 1rem;
      transition: width 0.3s ease;
    }
    &::-moz-progress-bar {
      background-color: $OFF_BLACK;
    }
  }
}
