@import "../../colors.scss";
@import "../../mixins.scss";

.accordion {
  padding: 0;
  summary {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;

    .accordion__chevron {
      margin-left: auto;
    }
  }

  &[open] {
    summary .accordion__chevron {
      transform: scale(-1, -1);
    }
  }
}
