@import "../../colors.scss";
@import "../../mixins.scss";

.accordion {
  padding: 0;
  summary {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    padding: 1.5rem 2rem;

    &:hover {
      background-color: $OFF_WHITE_200;
    }
    & > svg {
      align-self: start;
    }
    & > svg:only-of-type {
      align-self: unset;
    }
    .accordion__chevron {
      margin-left: auto;
      padding: 4px;
    }
    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] > summary .accordion__chevron {
    transform: scale(-1, -1);
  }

  .accordion__content {
    padding: 0.75rem 2rem 2rem 2rem;
  }

  @include for-phone-only() {
    .accordion__summary {
      padding: 1rem 1.5rem;
      &:hover {
        background-color: unset;
      }
    }
    .accordion__content {
      padding: 1rem 1.5rem 1.5rem 1.5rem;

      .jfcl-link {
        margin-top: 0.5rem;
        @include for-phone-only {
          margin-top: 1rem;
        }
      }
      .jfcl-link:first-child {
        margin-top: 0;
      }
    }
  }
}
