@use "../../../mixins" as *;

#tenant-rights-page {
  .headline-section__content {
    margin: 0;
  }

  .content-box {
    margin: 0 0 2rem;
  }

  @include for-phone-only {
    .content-section {
      padding-bottom: 1rem;
    }
    .content-box__header-title {
      @include h3_mobile;
    }
    .content-box {
      margin: 0 0 1rem;
    }
    .content-box__footer {
      .content-box__footer__message,
      .content-box__footer__link {
        @include body_standard_mobile;
      }
    }
  }
}

@media print {
  #tenant-rights-page {
    .headline-section__address__print {
      display: none;
    }

    .headline-section__page-type {
      padding-top: 1.5rem; //24px
      padding-bottom: 0.75rem; //12px
    }

    .content-box {
      border: unset;
      .accordion__chevron {
        display: none;
      }
      .content-box__footer {
        display: none;
      }
    }

    .divider__print {
      border-bottom: 1px solid black;
    }
  }
}
